.abs_center {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #def5de;
	color: black;
}

.abs_comments {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: 95vh;
	background-color: #ececde;
	color: black;
}
@media screen and (max-width: 600px) {
	.nova {
		display: none;
	}
}
.imgcustomers {
	width: 200px;
	border-radius: 50%;
}
